In [1]:
import json
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv("collection-crms-2024-03-04.csv")

In [3]:
port=pd.read_csv("PORTFOLIO_CNIQSCCV7F5001QD9Q8G.csv")

In [4]:
port['Upload Date'].value_counts()

Upload Date
2024-02-05    15629
2024-02-17     2790
2024-02-13     2636
Name: count, dtype: int64

In [5]:
port.groupby(['Allocation Name']).agg({'Original Amount Pending':'sum', 'Loan Number':'count'})

                   Original Amount Pending  Loan Number
Allocation Name
Snapmint OD                       47485363        15570
Snapmint X Bucket                  5135658         5485

In [6]:
#port = port.loc[port['Upload Date']<'2024-01-12']

In [8]:
port.groupby(['Status','DPD Bucket']).agg({'Loan Number':'count'})

                      Loan Number
Status    DPD Bucket
COLLECTED 1+                   72
          10+                1032
          180+                148
          20+                  13
          30+                 419
          5+                 1275
          60+                  96
          90+                 126
PENDING   1+                   61
          10+                1517
          180+               8545
          20+                  46
          30+                2568
          5+                 1469
          60+                 910
          90+                2758

In [9]:
port['Status'].value_counts()

Status
PENDING      17874
COLLECTED     3181
Name: count, dtype: int64

In [10]:
port['DPD Bucket'].value_counts()

DPD Bucket
180+    8693
30+     2987
90+     2884
5+      2744
10+     2549
60+     1006
1+       133
20+       59
Name: count, dtype: int64

In [11]:
port = port[port['Allocation ID']!='allocation_id']
port[port['DPD Bucket'].isnull()]['Allocation ID'].value_counts()

Series([], Name: count, dtype: int64)

In [12]:
df.head()

,Userid,Full name,Mobile,Channel,Alternate no,Allocated to,Dpd bucket category,Pos,Emi's paid,Emi's pending,...,2024-03-01,Comments.3,2024-02-29,Comments.4,2024-02-28,Comments.5,2024-02-27,Comments.6,2024-02-26,Comments.7
0,19828200,Vishnu Donka,8466884471,online_apparel,NaN,Eshan Zain(400),bucket_0,732,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,19825262,Kudrat Ali,9365243541,online_apparel,NaN,Eshan Zain(400),bucket_0,1132,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19823653,Priya SHARMA,9044168597,online_apparel,NaN,Eshan Zain(400),bucket_0,660,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,19823475,Rahul Kamble,7507121830,online_apparel,NaN,Eshan Zain(400),bucket_0,1826,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,19821220,Manoj Kumar,7452883402,online_mobile,7.359933e+09,Eshan Zain(400),bucket_0,2073,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
port['Allocation ID'].value_counts()

Allocation ID
FEBRUARY2024    21055
Name: count, dtype: int64

In [14]:
port.loc[~(port['User ID'].isin(df['Userid']))]

,Name,Loan Number,Amount Pending,Due Date,Status,State,Mobile,Principal,Tenure,Interest Rate,...,WhatsApp Read Count,SMS Click Count,Digital Response Count,Lender Efficiency Numerator,Lender Efficiency Denominator,Agency Agent Name,Agency Name,Principal Balance Amount,Principal Balance Resolution,DPD
199,Dharmendra Rai,1706852,0.0,2021-07-03,COLLECTED,NaN,8709018096,0,3,0,...,0.0,0.0,0.0,962.0,481,NaN,NaN,0,0,975
349,Vivek Kumar,2325940,0.0,2022-02-03,COLLECTED,NaN,6200339187,0,3,0,...,0.0,0.0,0.0,417.0,417,NaN,NaN,0,0,760
361,Vivek Kumar,2345511,0.0,2022-02-03,COLLECTED,NaN,6200339187,0,3,0,...,0.0,0.0,0.0,533.0,533,NaN,NaN,0,0,760
753,HEMANT KUMAR MEENA,2956434,0.0,2022-04-03,COLLECTED,NaN,7073489020,0,2,0,...,0.0,0.0,0.0,1280.0,640,NaN,NaN,0,0,701
891,Chanchal pal,3184415,0.0,2022-06-03,COLLECTED,NaN,7779872885,0,2,0,...,2.0,0.0,2.0,255.0,255,NaN,NaN,0,0,640
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20904,nasir KHAN,13645560,0.0,2024-02-10,COLLECTED,NaN,7823072581,0,2,0,...,0.0,0.0,0.0,283.0,283,NaN,NaN,0,0,23
20948,Abdul Razack,13777042,0.0,2024-02-03,COLLECTED,NaN,9037143153,0,2,0,...,0.0,0.0,1.0,799.0,799,NaN,NaN,0,0,30
20955,Shashank Pandey,13793808,0.0,2024-02-03,COLLECTED,NaN,7754916029,0,2,0,...,0.0,0.0,0.0,3853.0,3853,NaN,NaN,0,0,30
20987,Dharmendra,13859753,236.0,2024-02-03,PENDING,NaN,7459917235,0,3,0,...,0.0,0.0,0.0,0.0,236,NaN,NaN,0,0,30
20989,Sandeep Kumar,13863781,0.0,2024-02-03,COLLECTED,NaN,9990475121,0,2,0,...,0.0,0.0,0.0,700.0,700,NaN,NaN,0,0,30

In [15]:
a=port.loc[~port['User ID'].isin(df['Userid'])][port['Status']=='PENDING']

In [16]:
a['Allocation ID'].value_counts()

Allocation ID
FEBRUARY2024    48
Name: count, dtype: int64

In [17]:
#x=a[a['Allocation ID'].isin(['JULY2023_Xbucket','JULY2023 XBUCKET2', 'AUGUST2023'])]
x = a[a['DPD Bucket'].isin(['1+','5+','10+','20+'])]
x['Paid Date']="2024-03-18"
x['Status']='COLLECTED'
x['Collected Amount']=x['Original Amount Pending']
x['Amount Pending']=0
x['Bucket 1 Collection']=x['Collected Amount']
x['EMIs Collected']=1

In [18]:
od=a[a['DPD Bucket'].isin(['30+','60+','90+','180+'])]
od['Allocation Date']=od['Upload Date']

In [19]:
od['DPD']=(pd.to_datetime(od['Allocation Date'])-pd.to_datetime(od['Due Date'])).dt.days

In [20]:
od['EMIs Pending']=od['EMIs Pending'].astype(str)
od.loc[od['EMIs Pending'].isin(['1','2','3','4','5','6','7','8','9','10','11','12']),'Due Date1']=od['Due Date']
od.loc[od['EMIs Pending'].isin(['2','3','4','5','6','7','8','9','10','11','12']),'Due Date2']=pd.to_datetime(od['Due Date'])+pd.DateOffset(months=2)
od.loc[od['EMIs Pending'].isin(['3','4','5','6','7','8','9','10','11','12']),'Due Date3']=pd.to_datetime(od['Due Date'])+pd.DateOffset(months=3)
od.loc[od['EMIs Pending'].isin(['4','5','6','7','8','9','10','11','12']),'Due Date4']=pd.to_datetime(od['Due Date'])+pd.DateOffset(months=4)
od.loc[od['EMIs Pending'].isin(['5','6','7','8','9','10','11','12']),'Due Date5']=pd.to_datetime(od['Due Date'])+pd.DateOffset(months=5)
od.loc[od['EMIs Pending'].isin(['6','7','8','9','10','11','12']),'Due Date6']=pd.to_datetime(od['Due Date'])+pd.DateOffset(months=6)
od.loc[od['EMIs Pending'].isin(['7','8','9','10','11','12']),'Due Date7']=pd.to_datetime(od['Due Date'])+pd.DateOffset(months=7)
od.loc[od['EMIs Pending'].isin(['8','9','10','11','12']),'Due Date8']=pd.to_datetime(od['Due Date'])+pd.DateOffset(months=8)
od.loc[od['EMIs Pending'].isin(['9','10','11','12']),'Due Date9']=pd.to_datetime(od['Due Date'])+pd.DateOffset(months=9)
od.loc[od['EMIs Pending'].isin(['10','11','12']),'Due Date10']=pd.to_datetime(od['Due Date'])+pd.DateOffset(months=10)
od.loc[od['EMIs Pending'].isin(['11','12']),'Due Date11']=pd.to_datetime(od['Due Date'])+pd.DateOffset(months=11)
od.loc[od['EMIs Pending'].isin(['12']),'Due Date12']=pd.to_datetime(od['Due Date'])+pd.DateOffset(months=12)

In [21]:
od.loc[~od['Due Date1'].isnull(),'DPD1']=(pd.to_datetime(od['Allocation Date'])-pd.to_datetime(od['Due Date1'])).dt.days
od.loc[~od['Due Date2'].isnull(),'DPD2']=(pd.to_datetime(od['Allocation Date'])-pd.to_datetime(od['Due Date2'])).dt.days
od.loc[~od['Due Date3'].isnull(),'DPD3']=(pd.to_datetime(od['Allocation Date'])-pd.to_datetime(od['Due Date3'])).dt.days
od.loc[~od['Due Date4'].isnull(),'DPD4']=(pd.to_datetime(od['Allocation Date'])-pd.to_datetime(od['Due Date4'])).dt.days
od.loc[~od['Due Date5'].isnull(),'DPD5']=(pd.to_datetime(od['Allocation Date'])-pd.to_datetime(od['Due Date5'])).dt.days
od.loc[~od['Due Date6'].isnull(),'DPD6']=(pd.to_datetime(od['Allocation Date'])-pd.to_datetime(od['Due Date6'])).dt.days
od.loc[~od['Due Date7'].isnull(),'DPD7']=(pd.to_datetime(od['Allocation Date'])-pd.to_datetime(od['Due Date7'])).dt.days
od.loc[~od['Due Date8'].isnull(),'DPD8']=(pd.to_datetime(od['Allocation Date'])-pd.to_datetime(od['Due Date8'])).dt.days
od.loc[~od['Due Date9'].isnull(),'DPD9']=(pd.to_datetime(od['Allocation Date'])-pd.to_datetime(od['Due Date9'])).dt.days
od.loc[~od['Due Date10'].isnull(),'DPD10']=(pd.to_datetime(od['Allocation Date'])-pd.to_datetime(od['Due Date10'])).dt.days
od.loc[~od['Due Date11'].isnull(),'DPD11']=(pd.to_datetime(od['Allocation Date'])-pd.to_datetime(od['Due Date11'])).dt.days
od.loc[~od['Due Date12'].isnull(),'DPD12']=(pd.to_datetime(od['Allocation Date'])-pd.to_datetime(od['Due Date12'])).dt.days

In [22]:
od.drop(['Due Date1','Due Date2','Due Date3','Due Date4','Due Date5','Due Date6',
        'Due Date7','Due Date8','Due Date9','Due Date10','Due Date11','Due Date12'], axis=1, inplace=True)

In [23]:
od['Bucket 1 EMIs']=0
od['Bucket 2 EMIs']=0
od['Bucket 3 EMIs']=0
od['Bucket 4 EMIs']=0
od['Bucket 5 EMIs']=0
for col in ['DPD1','DPD2','DPD3','DPD4','DPD5','DPD6','DPD7','DPD8','DPD9','DPD10','DPD11','DPD12']:
    od.loc[(~od[col].isnull())&(od[col]<=30),'Bucket 1 EMIs']=od['Bucket 1 EMIs']+1
    od.loc[(~od[col].isnull())&(od[col]>30)&(od[col]<=60),'Bucket 2 EMIs']=od['Bucket 2 EMIs']+1
    od.loc[(~od[col].isnull())&(od[col]>60)&(od[col]<=90),'Bucket 3 EMIs']=od['Bucket 3 EMIs']+1
    od.loc[(~od[col].isnull())&(od[col]>90)&(od[col]<=180),'Bucket 4 EMIs']=od['Bucket 4 EMIs']+1
    od.loc[(~od[col].isnull())&(od[col]>180),'Bucket 5 EMIs']=od['Bucket 5 EMIs']+1

In [24]:
od['EMI'] = od['Minimum Amount Pending']

In [25]:
od=od.fillna(0)
od['Bucket 1 Collection']=od['Bucket 1 EMIs']*od['EMI']
od['Bucket 2 Collection']=od['Bucket 2 EMIs']*od['EMI']
od['Bucket 3 Collection']=od['Bucket 3 EMIs']*od['EMI']
od['Bucket 4 Collection']=od['Bucket 4 EMIs']*od['EMI']
od['Bucket 5 Collection']=od['Bucket 5 EMIs']*od['EMI']

od['Collected Amount']=od['Original Amount Pending']
od['Paid Date']='2024-03-18'
od['Amount Pending']=0
od['Status']='COLLECTED'
od['EMIs Collected']=od['Original Amount Pending']/od['EMI']

In [26]:
od

,Name,Loan Number,Amount Pending,Due Date,Status,State,Mobile,Principal,Tenure,Interest Rate,...,DPD8,DPD9,DPD10,DPD11,DPD12,Bucket 1 EMIs,Bucket 2 EMIs,Bucket 3 EMIs,Bucket 4 EMIs,Bucket 5 EMIs
5570,Akash Yadav,7291373,0,2023-03-03,COLLECTED,0,7570844398,0,3,0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,3
9868,Rani bai raja rao,9455503,0,2023-12-10,COLLECTED,0,8904148676,0,6,0,...,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0
9925,Keshav Mathur,9531572,0,2024-01-03,COLLECTED,0,9149150742,0,6,0,...,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0
11810,Dilipkumar Tanecha,11139321,0,2023-11-10,COLLECTED,0,8347428737,0,3,0,...,0.0,0.0,0.0,0.0,0.0,1,0,1,0,0
12334,Vishnu Siby,11594394,0,2024-01-03,COLLECTED,0,7356878491,0,3,0,...,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0
14072,Dharmendra,12814989,0,2024-01-03,COLLECTED,0,7459917235,0,3,0,...,0.0,0.0,0.0,0.0,0.0,1,1,0,0,0
14453,Naseeb Ali,13033931,0,2024-01-03,COLLECTED,0,9812556832,0,3,0,...,0.0,0.0,0.0,0.0,0.0,1,1,0,0,0
14533,Dharmendra,13054529,0,2024-01-03,COLLECTED,0,7459917235,0,2,0,...,0.0,0.0,0.0,0.0,0.0,1,1,0,0,0
14631,Rani Dhara,13085141,0,2024-01-03,COLLECTED,0,9123772106,0,12,0,...,0.0,0.0,0.0,0.0,0.0,1,1,0,0,0
14756,Abdul Amaan,13116572,0,2024-01-03,COLLECTED,0,9110543030,0,2,0,...,0.0,0.0,0.0,0.0,0.0,1,1,0,0,0
15047,Dharmendra,13159982,0,2024-01-03,COLLECTED,0,7459917235,0,4,0,...,0.0,0.0,0.0,0.0,0.0,1,1,0,0,0
15196,NILANKU DEEP BHARALI,13183802,0,2024-01-03,COLLECTED,0,7002051443,0,2,0,...,0.0,0.0,0.0,0.0,0.0,1,1,0,0,0
15568,Dharmendra,13540993,0,2024-01-03,COLLECTED,0,7459917235,0,3,0,...,0.0,0.0,0.0,0.0,0.0,1,1,0,0,0

In [27]:
port=pd.concat([x,od])
port=port[['Loan Number','Due Date', 'Allocation Start Date','Amount Pending','Status','Original Amount Pending','Collected Amount','Paid Date','EMIs Collected',
          'Bucket 1 Collection','Bucket 2 Collection','Bucket 3 Collection','Bucket 4 Collection','Bucket 5 Collection','Name','Mobile']]
port

,Loan Number,Due Date,Allocation Start Date,Amount Pending,Status,Original Amount Pending,Collected Amount,Paid Date,EMIs Collected,Bucket 1 Collection,Bucket 2 Collection,Bucket 3 Collection,Bucket 4 Collection,Bucket 5 Collection,Name,Mobile
15885,13796470,2024-02-03,2024-02-13,0,COLLECTED,1799,1799,2024-03-03,1.0,1799,0.0,0.0,0.0,0.0,Prasanta Sutradhar,8787426571
15966,13815277,2024-02-03,2024-02-13,0,COLLECTED,3273,3273,2024-03-03,1.0,3273,0.0,0.0,0.0,0.0,DEVENDRA singh,8423324958
16195,13843814,2024-02-03,2024-02-13,0,COLLECTED,266,266,2024-03-03,1.0,266,0.0,0.0,0.0,0.0,Anisha Singh,9330249796
16329,13853567,2024-02-03,2024-02-13,0,COLLECTED,150,150,2024-03-03,1.0,150,0.0,0.0,0.0,0.0,Arun Aggarwal,8968307908
16438,13861238,2024-02-03,2024-02-13,0,COLLECTED,707,707,2024-03-03,1.0,707,0.0,0.0,0.0,0.0,Satya das,8908992110
16448,13861784,2024-02-03,2024-02-13,0,COLLECTED,135,135,2024-03-03,1.0,135,0.0,0.0,0.0,0.0,Md Farhan,9123685217
16493,13865259,2024-02-03,2024-02-13,0,COLLECTED,147,147,2024-03-03,1.0,147,0.0,0.0,0.0,0.0,Hemant Suman,9140912448
16848,13890643,2024-02-03,2024-02-13,0,COLLECTED,141,141,2024-03-03,1.0,141,0.0,0.0,0.0,0.0,Deepak Kumar,8092368423
16850,13890659,2024-02-03,2024-02-13,0,COLLECTED,141,141,2024-03-03,1.0,141,0.0,0.0,0.0,0.0,Deepak Kumar,8092368423
16901,13893317,2024-02-03,2024-02-13,0,COLLECTED,200,200,2024-03-03,1.0,200,0.0,0.0,0.0,0.0,Avantika Bisu,8130837129
16975,13898561,2024-02-03,2024-02-13,0,COLLECTED,433,433,2024-03-03,1.0,433,0.0,0.0,0.0,0.0,Ravi Kumar,9025388335
17111,13909454,2024-02-03,2024-02-13,0,COLLECTED,500,500,2024-03-03,1.0,500,0.0,0.0,0.0,0.0,Asif khay khan,7002199895
17207,13916683,2024-02-03,2024-02-13,0,COLLECTED,303,303,2024-03-03,1.0,303,0.0,0.0,0.0,0.0,Mohammed Imran,8050403392
17318,13928744,2024-02-03,2024-02-13,0,COLLECTED,850,850,2024-03-03,1.0,850,0.0,0.0,0.0,0.0,Sadaf Patel,9765803141
17512,13946703,2024-02-03,2024-02-13,0,COLLECTED,913,913,2024-03-03,1.0,913,0.0,0.0,0.0,0.0,Sai Sai,9704639909
17529,13949269,2024-02-03,2024-02-13,0,COLLECTED,640,640,2024-03-03,1.0,640,0.0,0.0,0.0,0.0,ajit pawar,7843005062
17604,13957164,2024-02-03,2024-02-13,0,COLLECTED,482,482,2024-03-03,1.0,482,0.0,0.0,0.0,0.0,Md.Reyaz,8789176804
17856,13979458,2024-02-03,2024-02-13,0,COLLECTED,353,353,2024-03-03,1.0,353,0.0,0.0,0.0,0.0,Thakor Manubhai,7383507755
18293,7266062,2024-02-03,2024-02-17,0,COLLECTED,779,779,2024-03-03,1.0,779,0.0,0.0,0.0,0.0,Ankit Kumar,9399843889
18399,8233260,2024-02-03,2024-02-17,0,COLLECTED,832,832,2024-03-03,1.0,832,0.0,0.0,0.0,0.0,Sukhbaz Singh,7719614540
18508,8728617,2024-02-03,2024-02-17,0,COLLECTED,2610,2610,2024-03-03,1.0,2610,0.0,0.0,0.0,0.0,Ujjwal Gawand,9172221552
18682,9275007,2024-02-03,2024-02-17,0,COLLECTED,1041,1041,2024-03-03,1.0,1041,0.0,0.0,0.0,0.0,Humza Yusuf,8826332002
18754,9498674,2024-02-10,2024-02-17,0,COLLECTED,2458,2458,2024-03-03,1.0,2458,0.0,0.0,0.0,0.0,Priyangshu Kalita,7002488874
18757,9500706,2024-02-03,2024-02-17,0,COLLECTED,1273,1273,2024-03-03,1.0,1273,0.0,0.0,0.0,0.0,Avnish Kumar Singh,9582808157
18885,9904208,2024-02-03,2024-02-17,0,COLLECTED,3868,3868,2024-03-03,1.0,3868,0.0,0.0,0.0,0.0,Saurabh Mane,8408071565
18927,9979464,2024-02-03,2024-02-17,0,COLLECTED,946,946,2024-03-03,1.0,946,0.0,0.0,0.0,0.0,Sonu Gupta,9877652387
18943,10017746,2024-02-03,2024-02-17,0,COLLECTED,753,753,2024-03-03,1.0,753,0.0,0.0,0.0,0.0,Burnett Anish,9027820872
18951,10044343,2024-02-10,2024-02-17,0,COLLECTED,1026,1026,2024-03-03,1.0,1026,0.0,0.0,0.0,0.0,SANJAY KUMAR,8738953793
19040,10233188,2024-02-03,2024-02-17,0,COLLECTED,1469,1469,2024-03-03,1.0,1469,0.0,0.0,0.0,0.0,Harshith K,9148610570
19423,10886333,2024-02-10,2024-02-17,0,COLLECTED,1614,1614,2024-03-03,1.0,1614,0.0,0.0,0.0,0.0,nasir KHAN,7823072581
19724,11711821,2024-02-10,2024-02-17,0,COLLECTED,7237,7237,2024-03-03,1.0,7237,0.0,0.0,0.0,0.0,SANJAY KUMAR,8738953793
20326,12573286,2024-02-03,2024-02-17,0,COLLECTED,631,631,2024-03-03,1.0,631,0.0,0.0,0.0,0.0,Sumon Halder,8100614068
20613,13116667,2024-02-03,2024-02-17,0,COLLECTED,897,897,2024-03-03,1.0,897,0.0,0.0,0.0,0.0,Rani Dhara,9123772106
20682,13183802,2024-02-03,2024-02-17,0,COLLECTED,432,432,2024-03-03,1.0,432,0.0,0.0,0.0,0.0,NILANKU DEEP BHARALI,7002051443
20987,13859753,2024-02-03,2024-02-17,0,COLLECTED,236,236,2024-03-03,1.0,236,0.0,0.0,0.0,0.0,Dharmendra,7459917235
5570,7291373,2023-03-03,2024-02-05,0,COLLECTED,2061,2061,2024-03-03,3.0,0,0.0,0.0,0.0,2061.0,Akash Yadav,7570844398
9868,9455503,2023-12-10,2024-02-05,0,COLLECTED,920,920,2024-03-03,1.0,0,920.0,0.0,0.0,0.0,Rani bai raja rao,8904148676
9925,9531572,2024-01-03,2024-02-05,0,COLLECTED,1460,1460,2024-03-03,1.0,0,1460.0,0.0,0.0,0.0,Keshav Mathur,9149150742
11810,11139321,2023-11-10,2024-02-05,0,COLLECTED,768,768,2024-03-03,2.0,384,0.0,384.0,0.0,0.0,Dilipkumar Tanecha,8347428737
12334,11594394,2024-01-03,2024-02-05,0,COLLECTED,607,607,2024-03-03,1.0,0,607.0,0.0,0.0,0.0,Vishnu Siby,7356878491
14072,12814989,2024-01-03,2024-02-05,0,COLLECTED,508,508,2024-03-03,2.0,254,254.0,0.0,0.0,0.0,Dharmendra,7459917235
14453,13033931,2024-01-03,2024-02-05,0,COLLECTED,1582,1582,2024-03-03,2.0,791,791.0,0.0,0.0,0.0,Naseeb Ali,9812556832
14533,13054529,2024-01-03,2024-02-05,0,COLLECTED,290,290,2024-03-03,2.0,145,145.0,0.0,0.0,0.0,Dharmendra,7459917235
14631,13085141,2024-01-03,2024-02-05,0,COLLECTED,4182,4182,2024-03-03,2.0,2091,2091.0,0.0,0.0,0.0,Rani Dhara,9123772106
14756,13116572,2024-01-03,2024-02-05,0,COLLECTED,2000,2000,2024-03-03,2.0,1000,1000.0,0.0,0.0,0.0,Abdul Amaan,9110543030
15047,13159982,2024-01-03,2024-02-05,0,COLLECTED,1478,1478,2024-03-03,2.0,739,739.0,0.0,0.0,0.0,Dharmendra,7459917235
15196,13183802,2024-01-03,2024-02-05,0,COLLECTED,864,864,2024-03-03,2.0,432,432.0,0.0,0.0,0.0,NILANKU DEEP BHARALI,7002051443
15568,13540993,2024-01-03,2024-02-05,0,COLLECTED,268,268,2024-03-03,2.0,134,134.0,0.0,0.0,0.0,Dharmendra,7459917235

In [28]:
port1 = port

In [29]:
port[['Loan Number', 'Name', 'Mobile', 'Due Date', ]]

       Loan Number                  Name      Mobile    Due Date
15885     13796470    Prasanta Sutradhar  8787426571  2024-02-03
15966     13815277        DEVENDRA singh  8423324958  2024-02-03
16195     13843814          Anisha Singh  9330249796  2024-02-03
16329     13853567         Arun Aggarwal  8968307908  2024-02-03
16438     13861238             Satya das  8908992110  2024-02-03
16448     13861784             Md Farhan  9123685217  2024-02-03
16493     13865259          Hemant Suman  9140912448  2024-02-03
16848     13890643          Deepak Kumar  8092368423  2024-02-03
16850     13890659          Deepak Kumar  8092368423  2024-02-03
16901     13893317         Avantika Bisu  8130837129  2024-02-03
16975     13898561            Ravi Kumar  9025388335  2024-02-03
17111     13909454        Asif khay khan  7002199895  2024-02-03
17207     13916683        Mohammed Imran  8050403392  2024-02-03
17318     13928744           Sadaf Patel  9765803141  2024-02-03
17512     13946703               Sai Sai  9704639909  2024-02-03
17529     13949269            ajit pawar  7843005062  2024-02-03
17604     13957164              Md.Reyaz  8789176804  2024-02-03
17856     13979458       Thakor Manubhai  7383507755  2024-02-03
18293      7266062           Ankit Kumar  9399843889  2024-02-03
18399      8233260         Sukhbaz Singh  7719614540  2024-02-03
18508      8728617         Ujjwal Gawand  9172221552  2024-02-03
18682      9275007           Humza Yusuf  8826332002  2024-02-03
18754      9498674     Priyangshu Kalita  7002488874  2024-02-10
18757      9500706    Avnish Kumar Singh  9582808157  2024-02-03
18885      9904208          Saurabh Mane  8408071565  2024-02-03
18927      9979464            Sonu Gupta  9877652387  2024-02-03
18943     10017746         Burnett Anish  9027820872  2024-02-03
18951     10044343          SANJAY KUMAR  8738953793  2024-02-10
19040     10233188            Harshith K  9148610570  2024-02-03
19423     10886333            nasir KHAN  7823072581  2024-02-10
19724     11711821          SANJAY KUMAR  8738953793  2024-02-10
20326     12573286          Sumon Halder  8100614068  2024-02-03
20613     13116667            Rani Dhara  9123772106  2024-02-03
20682     13183802  NILANKU DEEP BHARALI  7002051443  2024-02-03
20987     13859753            Dharmendra  7459917235  2024-02-03
5570       7291373           Akash Yadav  7570844398  2023-03-03
9868       9455503     Rani bai raja rao  8904148676  2023-12-10
9925       9531572         Keshav Mathur  9149150742  2024-01-03
11810     11139321    Dilipkumar Tanecha  8347428737  2023-11-10
12334     11594394           Vishnu Siby  7356878491  2024-01-03
14072     12814989            Dharmendra  7459917235  2024-01-03
14453     13033931            Naseeb Ali  9812556832  2024-01-03
14533     13054529            Dharmendra  7459917235  2024-01-03
14631     13085141            Rani Dhara  9123772106  2024-01-03
14756     13116572           Abdul Amaan  9110543030  2024-01-03
15047     13159982            Dharmendra  7459917235  2024-01-03
15196     13183802  NILANKU DEEP BHARALI  7002051443  2024-01-03
15568     13540993            Dharmendra  7459917235  2024-01-03

In [30]:
print("Rs.",port['Collected Amount'].sum(),"with", len(port), "cases")

Rs. 56523 with 48 cases

In [35]:
port[port['Collected Amount']==port['Bucket 1 Collection']+port['Bucket 2 Collection']+port['Bucket 3 Collection']+port['Bucket 4 Collection']+port['Bucket 5 Collection']].to_csv("snapmint update.csv", index=0)